venv/
.scratch
agenteval_*
.DS_Store
node_modules
.next
.kiro
.claude
.amazonq
__pycache__
*-packaged.yaml
tasks.md
.venv/
.bedrock_agentcore.yaml
ui/app/api/agents/config/*
packaged_infra_cfn.yaml
.env
**/cdk.out/
agents_catalog/**/Dockerfile
agents_catalog/**/.dockerignore
.vscode/